<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter your task" name="username">
        <br><br>
        <textarea name="content" placeholder="write your task description"></textarea>
        <button>Submit task</button>
    </form>
</body>
</html>