<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Details</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <h2>Here is your information</h2>
    <p>Task id : <%= post.id %></p>
    <div class="post"> 
        <h3 class="user"><%=post.username %><h3>
        <h4 name="content"><%= post.content  %></h4>
    </div>
</body>
</html>